
/**** I fixed up a bit of the syntax in the css code below ****/

body {
  font-size: 14px;
}
/**** This is the navigation bar ****/
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin-top: 30px;
  padding-top: 30px;
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: "Arial", Arial, sans-serif;
  font-size: 20px;
}

.example, h3 {
  padding-top: 10px;
  text-align: center;
}
/**** These are the last 3 div elements I'm changing the background on ****/
h3 {
  font-family: "Arial", Arial, sans-serif;
  font-size: 13px;
  background-color: pink;
}

.element {
  font-family: "Arial", Arial, sans-serif;
  margin-top: 50px;
  background-color: green;
  height: 100px;
  margin: 0;
  width: 300px;
}

.last_element {
  font-family: "Arial", Arial, sans-serif;
  font-weight: 900;
  margin-top: 50px;
  background-color: pink;
  height: 100px;
  margin: 0;
  width: 300px;
}
