
body {
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin-top: 30px;
  padding-top: 30px;
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: "Arial", Arial, sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 10px;
  text-align: center;
}

h3 {
  font-family: "Arial", Arial, sans-serif;
  font-size: 1.3em;
  background-color: pink;
}

.element {
  font-family: "Arial", Arial, sans-serif;
  margin-top: 50px;
  background-color: white;
  height: 100px;
  margin: 0;
  width: 300px;
}
